/* Selector {
 	Property: value;
 }
*/

header{	
background-color: rgba(206, 236, 157, 0.7);
border: 5px solid rgb(117, 157, 52);
display: block;
text-align:right;


}

body{
color:rgb(211, 141, 175);
background-image: url(http://www.printawallpaper.com/upload/designs/legal_books_detail.jpg);

}
h1{
color:rgb(89, 205, 0);

text-align: center;
border-style: 3px solid pink;
text-decoration: underline;
font-family: 'Finger Paint', cursive;
font-weight: bolder;
}

#ol, #ul, #dl, #pup{
background-color: rgba(206, 236, 157, 0.7);
border: 5px solid rgb(117, 157, 52);
color: rgb(85, 8, 0);

}
img{
float: right;
}
footer{
clear: both;
text-align: center;
background-color: rgba(206, 236, 157, 0.7);
border: 5px solid rgb(117, 157, 52);
color: rgb(85, 8, 0);

}